#
# Autodiscovery
#   Get Key Value options from docker labels and transer them
#   to TXT records for dnsmasq configuration
#   e.g:
#       docker-compose:
#         ...
#         lables:
#           - autodiscovery.kv.foo=bar
#       will output 
#           txt-record=foo.kv.$DOMAIN,bar
#       
{{/* Get Domain from Environment variable */}}
{{ $tlds := or ($.Env.DOMAINS) "docker,internal" }}

{{/*                                                        */}}
{{/*   Loop over all defined domains                        */}}
{{/*                                                        */}}
{{ range $did, $domain := split $tlds "," }}
# DOMAIN: {{$domain}}
    {{/*                                                        */}}
    {{/*   Get all containers that enabled autodiscovery        */}}
    {{/*                                                        */}}
    {{/*   Loop over enabled containers                         */}}
    {{range $cid, $c := $ }}
#   CONTAINER: {{$c.Name}} {{$domain}}
        {{/*                                                        */}}
        {{/*    Export all autodiscovery.kv labels as TXT records   */}}
        {{/*                                                        */}}
        {{ range $lname, $lvalue := $c.Labels }}
            {{ if hasPrefix "autodiscovery.kv." $lname }}
txt-record={{ trimPrefix "autodiscovery.kv." $lname }}.kv.{{ $domain }},{{ $lvalue }}
            {{end}}
        {{end}}
    {{end}}
{{ end }}
